[Unit]
Description=Pyhton bot for detecting free rent slots at Buenos Aires Kartodromo
Documentation=https://github.com/kirovreporting/CDBAKartTurnoBot


[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /etc/CDBAKartTurnoBot/main.py